/*----------------------------
全体装飾
----------------------------*/

/* Reset */
	@charset "UTF-8";
	* {
	  margin: 0;
	  padding: 0;
	}
	@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");
	
	
	html, body, div, form, nav {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	body {
		line-height: 1;
		-webkit-text-size-adjust: none;
		overflow-x: hidden;/* 追記 */
	}
	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}
	
	a {
  		text-decoration: none;
	}
	
/* Box Model */
	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.pc-only {
		display: block;
	}

	.sp-only {
  		display: none;
	}

/*----------------------------
ヘッダー
----------------------------*/	
	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: column;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		background: #2BC49A;
		color: #d1f1e9;
		height: 100%;
		position: fixed;
		text-align: center;
		top: 0;
		width: 25em;
		right: 0;
	}
	@media screen and (max-width: 480px) {
	#header {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-moz-justify-content: space-between;
			-webkit-justify-content: space-between;
			-ms-justify-content: space-between;
			justify-content: space-between;
			background: #2BC49A;
			color: #d1f1e9;
			height: 95%;
			position: fixed;
			text-align: center;
			margin-top: 50px;
			top: 0;
			width: 100%;
			right: -500px;
			z-index: 1;
			opacity: 0.9;
		}
	}	
	#header header p {
		color: #b6e9dc;
	}
	#header a {
		color: #d1f1e9;
	}


	#header > header {
		-moz-flex-shrink: 0;
		-webkit-flex-shrink: 0;
		-ms-flex-shrink: 0;
		flex-shrink: 0;
	}
	#header >header img{
		width: 25em;
		height: 25em;
		left: 0px;
    	margin-top: 0%;
	}
	#header > nav {
		-moz-flex-grow: 1;
		-webkit-flex-grow: 1;
		-ms-flex-grow: 1;
		flex-grow: 1;
		font-size:18px;
	}
	.hum{
		display:none;
	}
	.respons a{
		display:none;
	}
	.respons img{
		display:none;
	}
/*----------------------------
グローバルリンク
----------------------------*/

	.nav {
	  background-color: #2BC49A;
	  box-shadow: 0 5px 10px -6px rgba(0,0,0,.1);
	  text-align: center;
	  top: 0;
	  display: flex;
	  flex-direction:column;
	
	}
	
	.gnav-list {
	  display: flex;
	  list-style: none;
	  align-items: center;
	  justify-content: center;
	}
	
	.gnav-item a {
	  font-weight: bold;
	  display: inline-block;
	  color: #FFF;
	  transition: .3s;
	  -webkit-transform: scale(1);
	  transform: scale(1);
	  margin: 5px 10px;
	}
	.gnav-item a:hover {
	  -webkit-transform: scale(1.2);
	  transform: scale(1.2);
	  color: #FFCC00 !important;
	}

/*----------------------------
メインコンテンツ
----------------------------*/
	
/* Wrapper */
	#wrapper {
		background: #fff;
		padding-right: 25em;
	}
	
/* usernav */
	#one {
		display: flex;
		justify-content: center;
		text-align: center;
		margin:2em;

	}
	.user-nav {
		  display: flex;
		  flex-direction:column;
		  justify-content: center;
		  background: #f6f6f6;
		  box-shadow: 0 0 0 2px #ccc inset;
		  width: 45em;
		  padding: 2em;
	}
/* usernav */
	#two {
		display: flex;
		justify-content: center;
		margin:2em;
	}
	.thread {
		 display: flex;
		 flex-direction:column;
		 justify-content: center;
		 background: #f6f6f6;
		 box-shadow: 0 0 0 2px #ccc inset;
		 width: 70em;
		 padding: 1em;
		 margin: 10px;
	}
	
/* button */
	.t-back {
		  font-size: 0.9rem;
		  font-weight: 700;
		  line-height: 1.5;
		  position: relative;
		  display: inline-block;
		  padding: 0.1rem 0.2rem;
		  cursor: pointer;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		  -webkit-transition: all 0.3s;
		  transition: all 0.3s;
		  text-align: center;
		  vertical-align: middle;
		  text-decoration: none;
		  letter-spacing: 0.1em;
		  border-radius: 0.5rem;
		  color: #FFFFFF;
		  background-color: #2BC49A;
		  border: none;
		  border-bottom: 5px solid #009933;
	}

	.t-back:hover {
		  margin-top: 3px;
		  color: #FFFFFF;
		  border-bottom: 2px solid #009933;
	}

	.b-back {
		  font-size: 1rem;
		  font-weight: 700;
		  line-height: 1.5;
		  position: relative;
		  display: inline-block;
		  padding: 0.5rem 0.5rem;
		  cursor: pointer;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		  -webkit-transition: all 0.3s;
		  transition: all 0.3s;
		  text-align: center;
		  vertical-align: middle;
		  text-decoration: none;
		  letter-spacing: 0.1em;
		  border-radius: 0.5rem;
		  
		  color: #FFFFFF;
		  background-color: #2BC49A;
		  border: none;
		  border-bottom: 5px solid #009933;
	}
	
	.b-back:hover {
		  margin-top: 3px;
		  color: #FFFFFF;
		  border-bottom: 2px solid #009933;
	}

/* フォーム */	
	.m-form-text {
	    height: 2.4em;
	    width: 60%;
	    padding: 0 15px;
	    border-radius: 4px;
	    border: none;
	    box-shadow: 0 0 0 1px #ccc inset;
	    appearance: none;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    margin:10px;
	}

	.m-form-text:focus {
	    outline: 0;
	    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
	}
	
	
/*----------------------------
新規登録画面
----------------------------*/

/* フォーム */	
	.form-container{
		display: flex;
		justify-content: center;
		text-align: center;
		margin: 10% auto;/*上下左右中央*/
		max-height: 60%;
		max-width: 350px;
	}
	.form{
		display: flex;
		flex-direction:column;
		justify-content: center;
		background: #f6f6f6;
		box-shadow: 0 0 0 2px #ccc inset;
		width: 45em;
		padding: 1em;
	}
	.formtitle p {
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		margin:20px auto;	
	}
	.inputform {
		margin:0 auto;
		display: flex;
		flex-direction:column;
		justify-content: center;
	}
	.name {
		margin:5px auto;
	}
	.name input{
		padding: 5px 0px;
		border-radius: 4px;	
		width: 200px;
	}
	.pass {
		margin:10px auto;	
	}
	.pass input{
		border-radius: 4px;
		padding: 5px 0px;
		width: 200px;
	}
	.birth{
		margin:5px auto;
	}
	.birth select{
		border-radius: 4px;
		border:1px solid;
		padding: 5px 0px;
		width: 63px;
		border-color: #ccc;
	}
	.birth p{
		margin:10px 0;
	}
	.submit {
		margin:20px auto;	
	}
	.submit input{
		padding: 2px 0px;
	}

	.error p{
		color:red;
		text-align: center;
		font-size: 13px;
	}
	
/* 確認画面 */		
	.Confilm-container{
		display: flex;
		justify-content: center;
		margin: 10% auto;/*上下左右中央*/
		max-height: 60%;
		max-width: 350px;
	}
	.Confilm-container button{
		padding: 3px 3px;
		margin:10px;
	}
	.text p{
		margin:15px auto;	
	}
	
/* 完了画面 */
	.Done-container{
		display: flex;
		justify-content: center;
		margin: 20% auto;/*上下左右中央*/
		max-height: 60%;
		max-width: 350px;
	}
	.Done-form{
		display: flex;
		flex-direction:column;
		justify-content: center;
		width: 45em;
		padding: 2em;
		text-align: center;
	}
	
/*----------------------------\
コメント画面
----------------------------*/

	.comment-container {
		display: flex;
		justify-content: center;
		flex-direction:column;
		margin:2em;

	}
	.ThreadTitle {
		display: flex;
		justify-content: center;
		flex-direction:column;
		background: #f6f6f6;
		box-shadow: 0 0 0 2px #ccc inset;
		width: 45em;
		padding: 1.5em;
		margin: 2em auto;/*上下左右中央*/
		text-align: center;
	}
	.CommentList {
		display: flex;
		justify-content: center;
		flex-direction:column;
		background: #f6f6f6;
		box-shadow: 0 0 0 2px #ccc inset;
		width: 60em;
		padding: 1.5em;
		margin: 0.5em auto;/*上下左右中央*/
	}
	.comment p{
		margin: 1.5em 0;
	}
	.CommentForm {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.deleate {
		width: 100%;
		margin: 10px auto;
		text-align: center;
	}
	.deleate a {
		color: red;
	}
/*----------------------------
スマホ用
----------------------------*/	
	@media screen and (max-width: 480px) {
		#header{
			display:none;
		}	
		.respons{
			width:100%;
			background-color: #333333;
			display: flex;
		}
		.respons a{
			display:block;
			color: #FFFF;
			margin: auto;
			margin-left: 10px;
			font-weight: bold;
			font-size: x-large;
		}
		.respons img{
			display:block;
			height: 30px;
			margin-top: 8px;
			margin-bottom: 8px;
			margin-left: 50px;
		}
		.hamburger{
			display:block;
			width:50px;
			height:50px;
			background: #2BC49A;
			cursor: pointer;
			margin: 0 0 0 auto;
			position: relative;
			justify-content: center;
		}
		.hamburger span{
			position: absolute;
			width: 45%;
			height: 2px;
			background-color: #FFFFFF;;
			margin: 0em 27%;
		}
		.hamburger span:first-of-type{/* ハンバーガーメニューの1番目の線 */
			top: 15px;
		}
		.hamburger span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
			top: 25px;
		}
		.hamburger span:last-of-type{/* ハンバーガーメニューの3番目の線 */
			top: 35px;
		}
		.off span:first-of-type{
			transform: rotate(45deg);
			top: 25px;
		}
		.off span:nth-of-type(2){
			opacity: 0;
		}
		.off span:last-of-type{
			transform: rotate(-45deg);
			top: 26px;
		}
		#wrapper {
		    background: #fff;
		    padding-right: 0em;
		}
		.thread {
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    background: #f6f6f6;
		    box-shadow: 0 0 0 2px #ccc inset;
		    width: 350px; 
		    padding: 1em;
		    margin: 10px;
		}
		.ThreadTitle {
			display: flex;
			justify-content: center;
			flex-direction:column;
			background: #f6f6f6;
			box-shadow: 0 0 0 2px #ccc inset;
			padding: 1.5em;
			width: 310px;
			margin: 2em auto;/*上下左右中央*/
			text-align: center;
		}
		.CommentList {
			display: flex;
			justify-content: center;
			flex-direction:column;
			background: #f6f6f6;
			box-shadow: 0 0 0 2px #ccc inset;
			width:310px;
			padding: 1.5em;
			margin: 0.5em auto;/*上下左右中央*/
		}
		.form{
			display: flex;
			flex-direction:column;
			justify-content: center;
			background: #f6f6f6;
			box-shadow: 0 0 0 2px #ccc inset;
			width: 45em;
			padding: 1em;
			margin-top: 10%;
		}
		.sm {
			top: 60px;
			left: 0px;
			position: absolute;
			z-index: 10;
			width: 100%;
			background-color: rgba(34, 49, 52, 0.9);
		}
		
		ul {
			flex-direction: column;
		}
	}
	